div.logo{
display: block;
position: relative;
top: 35px;
text-align: center;
}

div.descripcion {
position: relative;
top: 25px;
width: 539px;
margin: auto;
}
p.texto {
	text-align: center;
	color:white;
}

.boton {
	display: block;
	/*centra*/
	margin: auto;
	background-color: white;
	text-align: center;
	width: 163px;
	height: 26px;
	/*quita subrayado*/
	text-decoration: none;
	/*primer valor es alto, segundo valor es ancho*/
	padding: 5px 25px;

	/*bordes para diferentes navegadores*/
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	/*fuente y tamaño*/
	font-family: arial;
	font-size: 20px;
	color: black;

}

.boton:hover {
color: red;
 }


body {
	background-image: url(/Users/Rodrigo/Documents/pagina/images/fondopagina.gif);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: black;
}




* {
	margin: 0;
	padding: 0;
}

#footer {
	background-color: white;
	position: absolute;
	right: 0;
	bottom:0;
	width: 100%;
	height: 100px;
	opacity: 0.7;
}
#contacto {
	display: inline;
	position: relative;
	text-align: justify;
	left: 20px;
	top: 20px;

	width: 400px;
	
}